/*========================================


 Universal Styling


===========================================*/
*{
margin: 0;
padding: 0;
border: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 200pt;
}
  
h1 {
    font-family: 'EB Garamond', serif;
    color: #F4F4F4;
    margin-top: 0px;
    padding-top: 30pt;
    padding-bottom: 20pt;
    padding-left: 20pt;
}
  
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
  }
  
p,
ul,
li,
a {
    font-family: 'EB Garamond', serif;
    color: #F4F4F4;
    font-size: 16px;
    margin-bottom: 30px;
}

ol {
    list-style-type: upper-alpha;
    list-style-type: upper-alpha;
    position: relative;
    top: -20px;
    bottom: 0;
    left: 50px;
}
  
@font-face {
    font-family: 'Froad';
    src: url('../fonts/froad-mile.ttf');
}
  
h2 {
    font-family: 'Froad', sans-serif;
    color: #F4F4F4;
    text-align: center;
    font-size: 70px;
    letter-spacing: 8px;
    margin-bottom: 30px;
    position: relative
}
  
h3 {
    font-size: 50px;
    color: #2DA2D1;
    margin-top: 30px;
    margin-bottom: 10px;
}
  
body {
    background-color: #146093;
    color: #F4F4F4
}
  
header {
    background: #121929ea;
    padding-bottom: 10mm;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}
  
nav {
    padding-left: 20pt;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #333;
    background: #f2f2f2;
    padding: 10px 20px;
    transition: .5s;
    width: 100px;
}
  
nav a:hover {
    background:#2DA2D1;
    color: #f2f2f2;
    transition: .5s;
}

/* visited link */
    a:visited {
    color: #080808;
}

header h1 {
    width: 30%;
    display: inline-block;
}

header nav {
    width: 65%;
    display: inline-block;
    text-align: right;
}

header li {
    display: inline-block;
    margin: 0 40px;
}

main .container {
    margin: 90px auto;
}
 
footer {
    text-decoration: none;
    background: #12192940;
    text-align: center;
    padding: 2rem 0;
}
 
/*========================

    First Section Styling

==========================*/
.abyss-img {
    float:left;
    transition: .5s;
    margin-top: 0px;
    margin-right: 20px;
}

  .abyss-img:hover {
    animation: movement 5s;
  }

  @keyframes movement {
    from{
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  } 
